<ul class="nav nav-tabs pb-2">
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">Apply</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'register' %}">Register</a>
            <a class="dropdown-item" href="{% url 'login' %}">Login</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
    </li>

</ul>